body {
      background-color: #2e3839;
      margin: 5px;
      font-family:  tahoma, verdana, arial;
    } 
.cont {
      padding: 15px;
}

table {
      border: none;
      vertical-align: text-top;
      border-spacing: 0;
      border-collapse: collapse;
}
